<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.id.ifabula.testingcordovaplugin2" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TestingCordovaPlugin</name><js-module name="TestingCordovaPlugin" src="www/TestingCordovaPlugin.js"><clobbers target="cordova.plugins.TestingCordovaPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TestingCordovaPlugin"><param name="android-package" value="com.id.ifabula.testingcordovaplugin2.TestingCordovaPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TestingCordovaPlugin.java" target-dir="src/com/id/ifabula/testingcordovaplugin2/TestingCordovaPlugin" /></platform></plugin>